# Dependency directories
node_modules/
npm-debug.log

# Environment variables file (if using dotenv or similar)
config/*.env

# Build output
dist/
build/

# IDE or editor files
.vscode/
.idea/

# Logs
logs/
*.log

# OS or temporary files
.DS_Store
Thumbs.db

# my notes
notes.txt

# test coverage
coverage/

# Environment varibales
.env*
!.env*.example